/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
  }
  h1{
    text-align: center;
    padding-bottom: 20px;
  }
  /* Style for the header and nav */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  /* Style for the main content */
  main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .room-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
  }
  .room-item:hover {
    transform: scale(1.1);
  }
  .room-item img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    background-position: center;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }
  .price {
    font-weight: bold;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}